.header{
	height:40px;
	background:#fff;
	line-height:40px;
	font-size:14px;
	font-weight:700;
	padding:0px 50px;
	.left{
		float:right;
		margin-right:10px;
	}
	.imgs{}
	a{
		color:rgba(0,0,0,.65);
	    text-align: center;

	}
}